{% extends "casa/layouts/journey.njk" %}

{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}

{% block casaPageTitle %}
  {{ t("has-hobbies:pageTitle") }} - {{ t("common:serviceName") }}
{% endblock %}

{% block journey_form %}
  {{ casaGovukRadios({
    name: "hasHobbies",
    fieldset: {
      legend: {
        text: t("has-hobbies:pageTitle"),
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    items: [{
      value: "yes",
      text: t("common:yes")
    }, {
      value: "no",
      text: t("common:no")
    }],
    casaWithAnalytics: true,
    casaValue: formData.hasHobbies,
    casaErrors: formErrors
  }) }}
{% endblock %}
