{% extends "casa/layouts/journey.njk" %}

{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}


{% block casaPageTitle %}
  {{ t("country:pageTitle") }} - {{ t("common:serviceName") }}
{% endblock %}

{% block journey_form %}
  <p class="govuk-body">
    This page lists a summary of all hobbies that have been added via the "loop" sub-app.
  <p>

  <p class="govuk-body">
    It should be skipped until at least one hobby has been captured in full.
  <p>

  <p class="govuk-body">
    It should also not be passable unless all hobbies are fully captured, i.e. they all complete the loop journey.
  <p>

  {{ govukSummaryList({
    rows: rows
  }) }}

  <p class="govuk-body">
    <a href="{{ createUrl }}">Add another hobby</a>
  </p>
{% endblock %}
