{% extends "layouts/journey.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}


{% block casaPageTitle %}
  {{ t("check-your-answers:pageTitle") }} - {{ t("common:serviceName") }}
{% endblock %}


{% block journey_form %}
  <h1 class="govuk-heading-xl">{{ t("check-your-answers:pageTitle") }}</h1>


  {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-6',
    rows: rows
  }) }}

{% endblock %}
