{% from "components/button/macro.njk" import govukButton %}

<form action="#" method="post" autocomplete="off" novalidate class="casa-journey-form">
  <input type="hidden" name="_csrf" value="{{ params.csrfToken }}" />
  {% if params.inEditMode %}<input type="hidden" name="edit" value="true" />{% endif %}
  {% if params.inEditMode and params.editOriginUrl %}<input type="hidden" name="editorigin" value="{{ params.editOriginUrl }}" />{% endif %}

  {# FORM CONTENT HERE #}
  {{ caller() }}

  {% if not params.buttonBarHidden %}
    <div class="casa-form-control-block">
      {{ govukButton({
        attributes: {
          id: 'continue-button'
        },
        text: t('common:form.buttons.saveChanges.label') if params.inEditMode else t('common:form.buttons.continue.label'),
        preventDoubleClick: true
      }) }}

      {% if params.inEditMode %}
        <p class="casa-cancel-review govuk-body">
          <a href="{{ params.editOriginUrl }}" class="govuk-link--no-visited-state">{{ t('common:form.buttons.cancel.label') }}</a>
        </p>
      {% endif %}
    </div>
  {% endif %}
</form>
