{% extends "casa/layouts/main.njk" %}

{% block pageTitle %}
  Page not found - {{ t('common:serviceName') }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Page not found</h1>

  <p class="govuk-body">If you typed the web address, check it is correct.</p>

  <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
{% endblock %}
