{% extends "casa/layouts/main.njk" %}

{% block pageTitle %}
  {{ t('404:pageTitle') }} - {{ t('common:serviceName') }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ t('404:pageTitle') }}</h1>

  <p class="govuk-body">{{ t('404:typedAddress') }}</p>

  <p class="govuk-body">{{ t('404:pastedAddress') }}</p>
{% endblock %}
