{% extends "casa/layouts/main.njk" %}

{% block pageTitle %}
  {{ t('500:pageTitle') }} - {{ t('common:serviceName') }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ t('500:pageTitle') }}</h1>

  <p class="govuk-body">{{ t('500:body') }}</p>
{% endblock %}
