{% extends "casa/layouts/main.njk" %}

{% block pageTitle %}
  Sorry, there is a problem with the service
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>

  <p class="govuk-body">Try again in a few moments.</p>
{% endblock %}
