{% extends "casa/layouts/main.njk" %}

{% block content %}

  <p>{{ data.field_input | dump }}</p>
  <p>{{ data.field_boxes | dump }}</p>
  <p>{{ data.field_date | dump }}</p>
  <p>{{ data.field_radios | dump }}</p>
  <p>{{ data.field_textarea | dump }}</p>

{% endblock %}
