{% extends "layouts/custom-main.njk" %}

{% block casaPageTitle %}
  {{ t('what-happens-next:pageTitle') }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ t('what-happens-next:h1') }}</h1>

  <div class="govuk-form-group">
    <p class="govuk-body">
      Your application has been submitted successfully. Here's what will happen next ...
    </p>
    <p class="govuk-body">
      See your console output for a list of all the data that has been generated during this session.
    </p>
  </div>

  <div class="govuk-form-group">
    <p class="govuk-body">
      <a href="https://gov.uk/">{{ t('what-happens-next:backToGovLink') }}</a>
    </p>
  </div>
{% endblock %}
