{% extends "layouts/journey.njk" %}

{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}

{# This page is the first on a detached user journey map, so we have to set the back button link explicitly #}
{% set casa = mergeObjects(casa, {
  journeyPreviousUrl: casa.mountUrl + 'trunk/task-list'
}) %}

{% block casaPageTitle %}
  {{ t('action-books:pageTitle') }}
{% endblock %}

{% block journey_form %}
  <p class="govuk-body">
    Do you like action books?
  </p>

  {{ casaGovukRadios({
    name: 'like',
    casaValue: formData['like'],
    casaErrors: formErrors,
    items: [{
      text: t('common:yes'),
      value: 'yes'
    }, {
      text: t('common:no'),
      value: 'no'
    }]
  }) }}
{% endblock %}
