{% extends "layouts/journey.njk" %}

{% from "casa/components/checkboxes/macro.njk" import casaGovukCheckboxes with context %}


{% block casaPageTitle %}
  {{ t('declaration:pageTitle') }}
{% endblock %}


{% block journey_form %}
  <h1 class="govuk-heading-xl">
    {{ t('declaration:h1') }}
  </h1>

  <p class="govuk-body">
    Are you ready to proceed?
  </p>

  {{ casaGovukCheckboxes({
    name: 'ready',
    casaValue: formData['ready'],
    casaErrors: formErrors,
    items: [{
      text: t('common:yes'),
      value: 'yes'
    }]
  }) }}
{% endblock %}
