{% extends "layouts/journey.njk" %}

{% from "casa/components/date-input/macro.njk" import casaGovukDateInput with context %}


{% block casaPageTitle %}
  {{ t('dob:pageTitle') }}
{% endblock %}


{% block journey_form %}
  <h1 class="govuk-heading-xl">
    {{ t('dob:h1') }}
  </h1>

  {{ casaGovukDateInput({
    namePrefix: 'dob',
    casaValue: formData.dob,
    casaErrors: formErrors,
    fieldset: {
      legend: {
        text: t('dob:dob.label'),
        isPageHeading: false,
        classes: 'govuk-fieldset__legend--m'
      }
    }
  }) }}
{% endblock %}
