{% extends "layouts/journey.njk" %}

{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}

{% block casaPageTitle %}
  {{ t('horror-books:pageTitle') }}
{% endblock %}

{% block journey_form %}
  <p class="govuk-body">
    Do you like horror books?
  </p>

  {{ casaGovukRadios({
    name: 'like',
    casaValue: formData['like'],
    casaErrors: formErrors,
    items: [{
      text: t('common:yes'),
      value: 'yes'
    }, {
      text: t('common:no'),
      value: 'no'
    }]
  }) }}
{% endblock %}
