{% extends "layouts/journey.njk" %}

{% from "components/button/macro.njk" import govukButton %}

{% block casaPageTitle %}
  {{ t('task-list:pageTitle') }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Task List
    </h1>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> Preliminary
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <a class="app-task-list__task-name" href="{{ casa.mountUrl }}preliminary/declaration" {%- if journeyContextData['declaration'] %} aria-describedby="declaration-completed"{% endif %}>
              Declaration
            </a>{% if journeyContextData['declaration'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="declaration-completed">Completed</strong>{% endif %}
          </li>
          <li class="app-task-list__item">
            <a class="app-task-list__task-name" href="{{ casa.mountUrl }}preliminary/contact-details" {%- if journeyContextData['contact-details'] %} aria-describedby="contact-details-completed"{% endif %}>
              Contact details
            </a>{% if journeyContextData['contact-details'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong>{% endif %}
          </li>
          <li class="app-task-list__item">
            <a class="app-task-list__task-name" href="{{ casa.mountUrl }}preliminary/dob" {%- if journeyContextData['dob'] %} aria-describedby="dob-completed"{% endif %}>
              Date of birth
            </a>{% if journeyContextData['dob'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="dob-completed">Completed</strong>{% endif %}
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span> Books
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <a class="app-task-list__task-name" href="{{ casa.mountUrl }}books/action-books" {%- if journeyContextData['action-books'] %} aria-describedby="action-books-completed"{% endif %}>
              Action books
            </a>{% if journeyContextData['action-books'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="action-books-completed">Completed</strong>{% endif %}
          </li>
          <li class="app-task-list__item">
            <a class="app-task-list__task-name" href="{{ casa.mountUrl }}books/thriller-books" {%- if journeyContextData['thriller-books'] %} aria-describedby="thriller-books-completed"{% endif %}>
              Thriller books
            </a>{% if journeyContextData['thriller-books'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="thriller-books-completed">Completed</strong>{% endif %}
          </li>
          <li class="app-task-list__item">
            <a class="app-task-list__task-name" href="{{ casa.mountUrl }}books/horror-books" {%- if journeyContextData['horror-books'] %} aria-describedby="horror-books-completed"{% endif %}>
              Horror books
            </a>{% if journeyContextData['horror-books'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="horror-books-completed">Completed</strong>{% endif %}
          </li>
        </ul>
      </li>
    </ol>

    <p class="govuk-body">
      {{ govukButton({
        text: "Finish",
        href: casa.mountUrl + 'trunk/finish'
      }) }}
    </p>
  </div>

  <div class="govuk-grid-column-one-third">
    {% include "partials/journey-sidebar.njk" %}
  </div>
</div>
{% endblock %}
