{#
  *** DEPRECATION WARNING ***
  This template will be removed at some point in the future.
  Update your templates now to instead extend `casa/layouts/journey.njk`.
#}

{% extends "casa/layouts/journey.njk" %}

{% block pageTitle -%}
  {#
  If there are form errors, we need to prefix the page title with "Error: ".
  See https://design-system.service.gov.uk/components/error-summary/#how-it-works
  We do this for backwards compatibility, but any new template that use the
  `pageTitle` block directly will need to add this prefix themselves.
  #}
  {{- t("error:documentTtlePrefix") if formErrors -}}
  {% block page_title %}{% endblock %}
{%- endblock %}

{% block bodyStart %}
  <div id="global-cookie-message" class="js-hidden">
    {% block cookie_message %}{% endblock %}
  </div>
{% endblock %}

{% block bodyEnd %}
  {% include "casa/partials/scripts.njk" %}
  {% block body_end %}{% endblock %}
{% endblock %}
