{#
  *** DEPRECATION WARNING ***
  This template will be removed at some point in the future.
  Update your templates now to instead extend `casa/layouts/main.njk`.
#}

{% extends "casa/layouts/main.njk" %}

{# Assume there is no back-link in main templates, so add the extra padding #}
{% set mainClasses %}{{ mainClasses }} govuk-main-wrapper--l{% endset %}

{% block pageTitle -%}
  {% block page_title %}{% endblock %}
{%- endblock %}

{% block bodyStart %}
  <div id="global-cookie-message" class="js-hidden">
    {% block cookie_message %}{% endblock %}
  </div>
{% endblock %}
