{% extends "casa/layouts/journey.njk" %}

{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}

{% block casaPageTitle %}
  {{ t("location:pageTitle") }} - {{ t("common:serviceName") }}
{% endblock %}

{% block journey_form %}
  {{ casaGovukRadios({
    name: "zone",
    fieldset: {
      legend: {
        text: t("location:pageTitle"),
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    items: [{
      value: "AZTEC",
      text: t("location:field.zone.options.AZTEC")
    }, {
      value: "MEDIEVAL",
      text: t("location:field.zone.options.MEDIEVAL")
    }, {
      value: "INDUSTRIAL",
      text: t("location:field.zone.options.INDUSTRIAL")
    }, {
      value: "FUTURISTIC",
      text: t("location:field.zone.options.FUTURISTIC")
    }],
    casaWithAnalytics: true,
    casaValue: formData.zone,
    casaErrors: formErrors
  }) }}
{% endblock %}
