{% from "components/error-summary/macro.njk" import govukErrorSummary %}

{% macro summary(formErrors) %}
  {% if formErrors %}
    {{ govukErrorSummary({
      titleText: t("error:summary.h1"),
      descriptionText: errorDescription or t('error:summary.defaultDescription'),
      errorList: formErrors
    }) }}
  {% endif %}
{% endmacro %}

{#
 # For bespoke form controls that don't fit neatly into one of the`form.*`
 # macros, you can use the macro below to apply the standard error markup to
 # your bespoke UI. Simply include the following tags within your markup before
 # wrapping the whole lot in a {% call ... %} to this macro.
 #
 #  ${ERROR_ANCHOR} = The error anchor (e.g. <a name="..."></a>)
 #  ${ERROR_CLASS} = The error class
 #  ${ERROR_INLINE} = The inline error messages
 #
 # @param {mixed} data The field data
 # @param {string} name Name of the field
 # @param {object} errors All form errors
 #}
{% macro applyFieldErrorMarkup(data, name, errors) %}

  {% set fieldErrors = errors[name] %}

  {% set errorAnchor = '<a id="error-'+name+'"></a>' if fieldErrors else "" %}

  {% set errorClass = "error" if fieldErrors else "" %}

  {% macro getErrorMarkup(name, fieldErrors) %}
    {% for error in fieldErrors %}
      {% set dv = {fn:name, va:error.validator} %}
      <span class="error-message" data-validation="{{ dv | dump }}">{{ t(error.inline) }}</span>
    {% endfor %}
  {% endmacro %}

  {% set errorInline = getErrorMarkup(name, fieldErrors) %}

  {% set markup = caller() %}

  {{ markup | replace('${ERROR_INLINE}', errorInline) | replace('${ERROR_CLASS}', errorClass) | replace('${ERROR_ANCHOR}', errorAnchor) }}
{% endmacro %}
