{% extends "casa/layouts/main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Session timeout
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Sorry, you'll have to start again</h1>

  <p class="govuk-body">You haven't entered any details for {{ sessionTtl }} minutes, so we've cleared your information to keep it secure.</p>

  {{ govukButton({
    text: 'Start again',
    href: casa.mountUrl
  }) }}
{% endblock %}
