{% extends "casa/layouts/journey.njk" %}

{% from "components/error-summary/macro.njk" import govukErrorSummary %}
{% from "casa/components/journey-form/macro.njk" import casaJourneyForm with context %}

{# Add our custom stylesheets #}
{% block head %}
  {% include "partials/custom-styles.njk" %}
{% endblock %}

{% block content %}
  {% if formErrorsGovukArray %}
    {{ govukErrorSummary({
      titleText: t("error:summary.h1"),
      descriptionText: errorDescription or t('error:summary.defaultDescription'),
      errorList: formErrorsGovukArray
    }) }}
  {% endif %}

  {% call casaJourneyForm({
    csrfToken: casa.csrfToken,
    inEditMode: inEditMode,
    editOriginUrl: editOriginUrl,
    casaMountUrl: casa.mountUrl
  }) %}
    {% block journey_form %}{% endblock %}
  {% endcall %}
{% endblock %}
