{% extends "layouts/journey.njk" %}

{% from "casa/components/input/macro.njk" import casaGovukInput with context %}


{% block casaPageTitle %}
  {{ t('start:pageTitle') }}
{% endblock %}


{% block journey_form %}
  <h1 class="govuk-heading-xl">
    {{ t('start:h1') }}
  </h1>

  {{ casaGovukInput({
    name: 'name',
    value: formData['name'],
    label: {
      text: t('start:field.name.label'),
      classes: 'govuk-label--m'
    },
    classes: "govuk-input--width-10",
    casaErrors: formErrors
  }) }}
{% endblock %}
