{% extends "layouts/journey.njk" %}

{% from "casa/components/input/macro.njk" import casaGovukInput with context %}


{% block casaPageTitle %}
  {{ t('tiers:pageTitle') }}
{% endblock %}


{% block journey_form %}
  <h1 class="govuk-heading-xl">
    {{ t('tiers:h1') }}
  </h1>

  {{ casaGovukInput({
    name: 'tiers',
    value: formData['tiers'],
    label: {
      text: t('tiers:h1'),
      classes: 'govuk-label--m'
    },
    classes: "govuk-input--width-10",
    casaErrors: formErrors
  }) }}
{% endblock %}
