<!-- CASA -->
{% set jsPath = casa.staticMountUrl + "govuk/govuk-frontend.min.js?" + casaVersion %}
<script type="module" src="{{ jsPath }}"></script>
<script type="module"{% if cspNonce %} nonce="{{ cspNonce }}"{% endif %}>
import { initAll } from '{{ jsPath }}';
initAll();
if (window.history.replaceState) {
  // Prevent re-submission of POST on refreshing page
  window.history.replaceState(null, null, window.location.href);
};
</script>
<!-- /CASA -->
