<aside id="journey-sidebar">
  <p class="govuk-heading-m govuk-!-margin-top-4">{{ t('sidebar:title') }}</p>

  <p class="govuk-heading-s">{{ t('sidebar:telephoneTitle') }}</p>
  <div class="govuk-body">{{ t('sidebar:html.contactInfo') | safe }}</div>

  <p class="govuk-body"><a href="?lang=en">English</a> | <a href="?lang=cy">Welsh</a></p>
</aside>