{% extends "layouts/journey.njk" %}

{% block casaPageTitle %}
  {{ t('beths-page:pageTitle') }}
{% endblock %}

<p class="govuk-body">
    This is the page for the baddest ever baddies amongst us WELCOME    
</p>