{% extends "layouts/journey.njk" %}

{% from "casa/components/checkboxes/macro.njk" import casaGovukCheckboxes with context %}

{% block casaPageTitle %}
  {{ t('beths-page:pageTitle') }}
{% endblock %}

{% block journey_form %}
    <p class="govuk-body">
        WELCOME TO THE PAGE FOR JUST THE BADDIES OF THE WORLD  
    </p>
{% endblock %}

