{% extends "layouts/journey.njk" %}

{% from "casa/components/checkboxes/macro.njk" import casaGovukCheckboxes with context %}

{% block casaPageTitle %}
  {{ t('checkboxes:pageTitle') }}
{% endblock %}

{% block journey_form %}
  {{ casaGovukCheckboxes({
    name: "boxes",
    casaErrors: formErrors,
    casaValue: formData.boxes,
    fieldset: {
      legend: {
        text: t('checkboxes:field.boxes.label'),
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      text: t('checkboxes:field.boxes.hint')
    },
    items: [{
      value: "twistedflax",
      text: t('checkboxes:field.boxes.options.twistedflax')
    },{
      value: "tworeeds",
      text: t('checkboxes:field.boxes.options.tworeeds')
    }, {
      value: "water",
      text: t('checkboxes:field.boxes.options.water')
    }, {
      value: "horus",
      text: t('checkboxes:field.boxes.options.horus')
    }]
  }) }}

  <p class="govuk-body">
    This page demonstrates a field validator that will mandate that <strong>at least 3 checkboxes are ticked</strong>, and uses an error message that includes dynamic data to display the count to the user.
  </p>

  <p class="govuk-body">
    Note also that the page layout is full-width, to demonstrate control over the form layout.
  </p>

{% endblock %}
