{% extends "layouts/journey-fullwidth.njk" %}

{% from "casa/components/checkboxes/macro.njk" import casaGovukCheckboxes with context %}

{% block casaPageTitle %}
  {{ t('checkboxes:pageTitle') }}
{% endblock %}

{% block journey_form %}
  {{ casaGovukCheckboxes({
    name: "boxes",
    casaErrors: formErrors,
    fieldset: {
      legend: {
        text: t('checkboxes:boxes.label'),
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      text: t('checkboxes:boxes.hint')
    },
    items: [{
      value: "twistedflax",
      text: t('checkboxes:boxes.options.twistedflax'),
      checked: true if includes(formData.boxes, "twistedflax") else false
    },{
      value: "tworeeds",
      text: t('checkboxes:boxes.options.tworeeds'),
      checked: true if includes(formData.boxes, "tworeeds") else false
    }, {
      value: "water",
      text: t('checkboxes:boxes.options.water'),
      checked: true if includes(formData.boxes, "water") else false
    }, {
      value: "horus",
      text: t('checkboxes:boxes.options.horus'),
      checked: true if includes(formData.boxes, "horus") else false
    }]
  }) }}

  <p class="govuk-body">
    This page demonstrates a field validator that will mandate that <strong>at least 3 checkboxes are ticked</strong>, and uses an error message that includes dynamic data to display the count to the user.
  </p>

  <p class="govuk-body">
    Note also that the page layout is full-width, to demonstrate control over the form layout.
  </p>

{% endblock %}
