{% extends "layouts/journey.njk" %}

{% from "components/input/macro.njk" import govukInput %}

{% block casaPageTitle %}
  {{ t('secret-agent:pageTitle') }}
{% endblock %}

{% block journey_form %}
  {{ govukInput({
    id: 'f-license',
    name: 'license',
    value: formData.license,
    label: {
      text: t('secret-agent:field.license.label'),
      isPageHeading: true,
      classes: 'govuk-label--xl'
    },
    hint: {
      text: t('secret-agent:field.license.hint')
    },
    errorMessage: {
      text: formErrors[license][0].inline
    } if formErrors
  }) }}

  <p class="govuk-body">
    This demonstrates a page with a single question, which uses a heading in a different manner to multi-page questions. See <a href="https://design-system.service.gov.uk/patterns/question-pages/">the GOVUK Frontend guidance</a> for more details.
  </p>
{% endblock %}
