{% extends "casa/review/page-block.njk" %}

{% from "components/summary-list/macro.njk" import govukSummaryList %}

{% block pageBlockTitle %}
  {{ t('declaration:h1') }}
{% endblock %}

{% block reviewBlock %}
  {% set pData = journeyContext['declaration'] %}

  {{ govukSummaryList({
    classes: "govuk-!-margin-bottom-9",
    rows: [
      {
        key: {
          text: 'Ready?'
        },
        value: {
          text: 'Yes' if pData.ready else 'No'
        },
        actions: {
          items: [
            {
              href: waypointEditUrl + '#f-ready',
              text: t('review:block.changeLink'),
              visuallyHiddenText: 'ready',
              classes: 'govuk-link--no-visited-state'
            }
          ]
        }
      }
    ]
  }) }}
{% endblock %}
