{% extends "casa/review/page-block.njk" %}

{% from "components/summary-list/macro.njk" import govukSummaryList %}

{% block pageBlockTitle %}
  {{ t('checkboxes:h1') }}
{% endblock %}

{% block reviewBlock %}
  {% set pData = journeyContext['checkboxes'] %}

  {{ govukSummaryList({
    classes: "govuk-!-margin-bottom-9",
    rows: [
      {
        key: {
          text: t('checkboxes:boxes.label')
        },
        value: {
          text: pData.boxes | join(', ')
        },
        actions: {
          items: [
            {
              href: waypointEditUrl + '#f-boxes',
              text: t('review:block.changeLink'),
              visuallyHiddenText: t('checkboxes:boxes.label') | lower,
              classes: 'govuk-link--no-visited-state'
            }
          ]
        }
      }
    ]
  }) }}
{% endblock %}
