{% extends "casa/review/page-block.njk" %}

{% from "components/summary-list/macro.njk" import govukSummaryList %}

{% block pageBlockTitle %}
  {{ t('personal-details:h1') }}
{% endblock %}

{% block journeyWaypointId %}
  personal-details
{% endblock %}

{% block reviewBlock %}
  {% set pData = journeyData['personal-details'] %}

  {{ govukSummaryList({
    classes: "govuk-!-margin-bottom-9 check-your-answers",
    rows: [
      {
        key: {
          text: t('personal-details:field.title.label')
        },
        value: {
          text: pData.title
        },
        actions: {
          items: [
            {
              href: changeUrlPrefix + waypointId + '?edit&editorigin=' + editOriginUrl + '#f-title',
              text: t('review:block.changeLink'),
              visuallyHiddenText: t('personal-details:field.title.label') | lower,
              classes: 'govuk-link--no-visited-state'
            }
          ]
        }
      },
      {
        key: {
          text: t('personal-details:field.firstName.label')
        },
        value: {
          text: pData['first-name']
        },
        actions: {
          items: [
            {
              href: changeUrlPrefix + waypointId + '?edit&editorigin=' + editOriginUrl + '#f-first-name',
              text: t('review:block.changeLink'),
              visuallyHiddenText: t('personal-details:field.firstName.label') | lower,
              classes: 'govuk-link--no-visited-state'
            }
          ]
        }
      },
      {
        key: {
          text: t('personal-details:field.middleNames.label')
        },
        value: {
          text: pData['middle-name']
        },
        actions: {
          items: [
            {
              href: changeUrlPrefix + waypointId + '?edit&editorigin=' + editOriginUrl + '#f-middle-name',
              text: t('review:block.changeLink'),
              visuallyHiddenText: t('personal-details:field.middleNames.label') | lower,
              classes: 'govuk-link--no-visited-state'
            }
          ]
        }
      },
      {
        key: {
          text: t('personal-details:field.lastName.label')
        },
        value: {
          text: pData.lastName
        },
        actions: {
          items: [
            {
              href: changeUrlPrefix + waypointId + '?edit&editorigin=' + editOriginUrl + '#f-lastName',
              text: t('review:block.changeLink'),
              visuallyHiddenText: t('personal-details:field.lastName.label') | lower,
              classes: 'govuk-link--no-visited-state'
            }
          ]
        }
      },
      {
        key: {
          text: t('personal-details:field.dob.label')
        },
        value: {
          text: pData.dob | formatDateObject
        },
        actions: {
          items: [
            {
              href: changeUrlPrefix + waypointId + '?edit&editorigin=' + editOriginUrl + '#f-dob[dd]',
              text: t('review:block.changeLink'),
              visuallyHiddenText: t('personal-details:field.dob.label') | lower,
              classes: 'govuk-link--no-visited-state'
            }
          ]
        }
      },
      {
        key: {
          text: t('personal-details:field.nino.label')
        },
        value: {
          text: pData.nino | replace(r/^([a-z]+).*$/i, "$1*******")
        },
        actions: {
          items: [
            {
              href: changeUrlPrefix + waypointId + '?edit&editorigin=' + editOriginUrl + '#f-nino',
              text: t('review:block.changeLink'),
              visuallyHiddenText: t('personal-details:field.nino.label') | lower,
              classes: 'govuk-link--no-visited-state'
            }
          ]
        }
      }
    ]
  }) }}
{% endblock %}
