{% extends "casa/review/page-block.njk" %}

{% from "components/summary-list/macro.njk" import govukSummaryList %}

{% block pageBlockTitle %}
  {{ t('secret-agent:h1') }}
{% endblock %}

{% block reviewBlock %}
  {% set pData = journeyContext['secret-agent'] %}

  {{ govukSummaryList({
    classes: "govuk-!-margin-bottom-9",
    rows: [
      {
        key: {
          text: t('secret-agent:field.license.label')
        },
        value: {
          text: pData.license
        },
        actions: {
          items: [
            {
              href: waypointEditUrl + '#f-license',
              text: t('review:block.changeLink'),
              visuallyHiddenText: t('secret-agent:field.license.label') | lower,
              classes: 'govuk-link--no-visited-state'
            }
          ]
        }
      }
    ]
  }) }}
{% endblock %}
