{% extends "casa/review/page-block.njk" %}

{% block pageBlockTitle %}
  {{ t('secret-agent:h1') }}
{% endblock %}

{% block journeyWaypointId %}
  secret-agent
{% endblock %}

{% block reviewBlock %}
  {% set pData = journeyData['secret-agent'] %}

  <tbody>
    <tr>
      <td>
        {{ t('secret-agent:field.license.label') }}
      </td>
      <td colspan="2">
        {{ pData.license }}
      </td>
    </tr>
  </tbody>
{% endblock %}