/**
  DEPRECATION NOTICE

  These styles will be removed in a future version as they should not longer be
  required if using then govuk-frontend.
*/

/**
 * Apply `.casa-error-group` to a block that itself has `.error` on it, but also
 * contains other blocks that use `.form-group-error`. This will prevent red left-borders
 * appearing on those nested error blocks.
 */
.casa-error-group .form-group-error {
  border-left: none;
  padding-left: 0;
  margin-right: 0;
}
