Tell us what accounts or investments you {{ 'and your partner' if persona.journey['live-with-partner'].yes == 'click()' else '' }} have

Select any that apply.

- Current, savings or deposit accounts with a bank, building society, credit union or the Post Office
- Investment ISAs or cash ISAs
- National Savings and Investments products, such as Premium Bonds or Savings Certificates
- Shares
- Money invested in unit trusts

{{ 'Save Changes  Cancel' if editMode else 'Continue' }}