Which country do you live in?

- England
- Scotland
- Wales
- Northern Ireland
- Somewhere else

An example of how to skip the current waypoint

{{ 'Save Changes  Cancel' if editMode else 'Continue' }}
