How we will use your information

As well as the details you provide in your application we will also use information we already hold about you (and your partner if you live with one).

We will use information:

- that we already have about you
- that we get from other government bodies

To find out more about how we use information visit our website (opens in a new tab).

{{ 'Save Changes  Cancel' if editMode else 'Continue' }}
