Do you have a partner?

If you live with a partner their details must be included as part of your application.

A partner is a husband, wife, civil partner, or someone that you are in a relationship with.

- Yes
  If you live with a partner we will ask you about them.
  What is your partner's date of birth?
  For example 31 3 1948.
  Day
  Month
  Year

- No I do not have a partner

{{ 'Save Changes  Cancel' if editMode else 'Continue' }}
