{% extends "layouts/custom-main.njk" %}

{% from "components/error-summary/macro.njk" import govukErrorSummary %}
{% from "casa/components/textarea/macro.njk" import casaGovukTextarea with context %}

{% block casaPageTitle %}
  {{ t('feedback:pageTitle') }}
{% endblock %}

{% block content %}
  <form action="{{ mountUrl }}feedback" method="post">
    <input type="hidden" name="_csrf" value="{{ casa.csrfToken }}">

    {% if formErrorsGovukArray %}
      {{ govukErrorSummary({
        titleText: t("error:summary.h1"),
        descriptionText: errorDescription or t('error:summary.defaultDescription'),
        errorList: formErrorsGovukArray
      }) }}
    {% endif %}

    <h1 class="govuk-heading-xl">{{ t('feedback:h1') }}</h1>

    <p class="govuk-body">
      Many applications include a facility for customers to feedback on their experiences. This is an example of such a form.
    </p>

    {{ casaGovukTextarea({
      name: 'feedback',
      value: formData.feedback,
      label: {
        text: t('feedback:field.feedback.label'),
        classes: 'govuk-label--m'
      },
      casaErrors: formErrors
    }) }}

    <div class="govuk-form-group">
      <input type="submit" class="govuk-button" value="{{ t('common:form.buttons.submit.label') }}" />
    </div>
  </form>
{% endblock %}
