{% extends "layouts/custom-main.njk" %}

{% from "components/button/macro.njk" import govukButton %}

{% block casaPageTitle %}
  {{ t('submit:pageTitle') }}
{% endblock %}

{% block content %}
  <form action="{{ casa.mountUrl }}submit" method="post">
    <input type="hidden" name="_csrf" value="{{ casa.csrfToken }}">

    <h1 class="govuk-heading-xl">{{ t('submit:h1') }}</h1>

    <div class="govuk-form-group">
      <p class="govuk-body">
        This is the final submission page; a final chance for the user to confirm they want to go ahead.
      </p>
    </div>

    <div class="casa-form-control-block">
      {{ govukButton({
        attributes: {
          id: 'continue-button'
        },
        text: t('common:form.buttons.saveChanges.label') if params.inEditMode else t('common:form.buttons.submit.label'),
        preventDoubleClick: true
      }) }}

      <p class="casa-cancel-review govuk-body">
        <a href="{{ casa.mountUrl }}review" class="govuk-link--no-visited-state">{{ t('common:form.buttons.cancel.label') }}</a>
      </p>
    </div>
  </form>
{% endblock %}
