{% extends "casa/layouts/main.njk" %}

{% from "components/button/macro.njk" import govukButton %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}
{% from "casa/components/journey-form/macro.njk" import casaJourneyForm with context %}

{% block casaPageTitle %}
  {{ t('review:pageTitle') }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% if formErrorsGovukArray %}
        {{ govukErrorSummary({
          titleText: t("error:summary.h1"),
          descriptionText: errorDescription or t('error:summary.defaultDescription'),
          errorList: formErrorsGovukArray
        }) }}
      {% endif %}

      {% call casaJourneyForm({
        csrfToken: casa.csrfToken,
        activeContextId: activeContextId,
        buttonBarHidden: true
      }) %}
        <input type="hidden" name="reviewed" value="true" />

        <h1 class="govuk-heading-xl">{{ t('review:h1') }}</h1>

        <!-- Include blocks for all pages in the user's journey -->
        {% for block in reviewBlocks %}
          {% set waypointId = block.waypointId %}
          {% set waypointEditUrl = block.waypointEditUrl %}
          {% include block.reviewBlockView ignore missing %}
        {% endfor %}

        <p class="govuk-body">
          {{ govukButton({
            text: t('common:form.buttons.next.label'),
            type: 'submit'
          }) }}
        </p>
      {% endcall %}
    </div>
  </div>
{% endblock %}
