{% extends "casa/layouts/main.njk" %}

{% block casaPageTitle %}
  {{ t('what-happens-next:pageTitle') }}
{% endblock %}


{% block content %}
  <h1 class="govuk-heading-xl">{{ t('what-happens-next:pageTitle') }}</h1>

  <p class="govuk-body">
    All done. At this point, the captured data will have been sent off to your backend receiving service, and the session has been cleared.
  </p>

  <p class="govuk-body">
    <a href="{{ casa.mountUrl }}">Have another go?</a>
  </p>
{% endblock %}
