{% extends "template.njk" %}

{% set assetPath = govuk.assetPath %}


{% block head %}
  {% include "casa/partials/styles.njk" %}
{% endblock %}


{% block skipLink %}
  {# Harcoding content for the skip link as t() may not be availble on some error pages #}
  {{ govukSkipLink({
    href: '#main-content',
    text: 'Neidio i\'r prif gynnwys' if locale === 'cy' else 'Skip to main content'
  }) }}
{% endblock %}


{% block bodyStart %}
  <div id="global-cookie-message" class="js-hidden">
    {% include "casa/partials/cookie_message.njk" %}
  </div>
{% endblock %}


{% block header %}
  {{ govukHeader(govuk.components.header) }}
{% endblock %}


{% block beforeContent %}
  {% if casa.phase == 'alpha' %}
    {% include "casa/partials/phase_banner_alpha.njk" %}
  {% elseif casa.phase == 'beta' %}
    {% include "casa/partials/phase_banner_beta.njk" %}
  {% endif %}
{% endblock %}


{% block bodyEnd %}
  {% include "casa/partials/scripts.njk" %}
{% endblock %}


{# CASA Wrappers #}

{% block pageTitle %}
  {% block casaPageTitle %}{% endblock %}
{% endblock %}
